.footer {
	font-size: 1.2rem;
	letter-spacing: 0.02em;
	font-family: $font-family-base-sec;

	@include media('screen', '>=desktop') {
		font-size: 1.4rem;
	}
	.logo {
		max-width: 100px;
	}
}

.border-top {
	opacity: 0.1;
}

.footer-menu {
	column-count: 2;
	column-gap: 15px;

	@include media('screen', '>=desktop') {
		min-height: 200px;
	}
}

.footer-info {
	a,
	p {
		opacity: 0.5;
	}

	a {
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
}
